<fieldset class="phone-toggle">
  <legend>{{ legend }}</legend>
  <label>
    <input type="radio" name="phone" value="iphone" checked>
    iPhone
  </label>
  <label>
    <input type="radio" name="phone" value="android">
    Android
  </label>
</fieldset>
